<div class="profile-header">
  <div class="profile-picture">
    <img src="http://brandonladuke.com/images/Me.jpg" alt="">
  </div>
  <span class="profile-name">
    Brandon LaDuke
  </span>
  <div class="follow-button">
    Follow
  </div>
</div>
<section id="content-section">
  <aside class="about">
    <div class="bio">
      <h2>Bio</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="followers">
      <h2>741 Followers</h2>
      <h6>View All...</h6>
      <div class="followers-grid">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/16406611_1520108171362479_6984068782632757708_n.jpg?oh=a0bd3e4b87ac5cf6a96df07b9953b03e&oe=59AC71D9" alt="Brandi Torres">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/15940746_1430375486986216_9008468065814116353_n.jpg?oh=64386238dd87a11f6c0b8b74a7caddd8&oe=59B93BB7" alt=" Robbie Valdez">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </aside>
  <div class="write-something contain">
    <label for="color">Text color:
      <input type="text" name="color" value="" ng-model="input.bkg">
    </label>
    <label for="color">Name:
      <input type="text" name="name" value="" ng-model="input.name">
    </label>
    <label for="color">Picture:
      <input type="text" name="name" value="" ng-model="input.picture">
    </label>
    <textarea name="content" ng-model="input.postText"></textarea>
    <div class="w-buttons">
      <button type="button" name="button" ng-click="saveClicked()">Post</button>
    </div>
  </div>
  <div class="posts contain">
    <div class="post" ng-repeat="each in outputArray track by $index">
      <div class="post-top" style="background-color: {{each.bkg}};">
        <div class="profile">
          <img src="{{each.picture}}" alt="">
        </div>
        <span class="name">
          {{each.name}}
        </span>
        <div class="overflow">
          :
        </div>
      </div>
      <div class="post-inner">
        <!-- Post content goes here -->
        {{each.postText}}
      </div>
      <div class="post-bottom">
        <div class="like">
          Like
        </div>
        <div class="comment">
          Comment
        </div>
        <div class="share">
          Share
        </div>
      </div>
    </div>
  </div>


  </div>
</section>
