<!DOCTYPE html>
<html ng-app="blog">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog HW</title>
    <link rel="stylesheet" href="blog.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="FirstController as vm">
    <div class="">
      <textarea ng-model="inputText" name="name"></textarea>
      <button type="button" ng-click="save()" name="button">Post</button>
    </div>
    <div ng-repeat="post in posts" id="thepost" class="" ng-model="post">
      {{post}}
    </div>
  </body>
</html>
