<!DOCTYPE html>
<html ng-app="blog">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog HW</title>
    <link rel="stylesheet" href="blog.css">
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="FirstController">
    <div class="">
      <input ng-model="post" name="name"></input>
      <button type="button" ng-click="postText()" name="button">Post</button>
    </div>
    <div id="thepost" class="" ng-model="thePost">
      <h1></h1>
    </div>
  </body>
</html>
