:root {
  --core-bkg-color: #eeeeee;
  --txt-color-black: #000000;
  --border-color-gray: #dddddd;
  --bkg-clear: rgba(0,0,0,0);
}

.createPost {
  width: 100%;
  background-color: var(--core-bkg-color);
  color: var(--txt-color-black);
  padding: 2em;
}

.createPost input {
  display: block;
  margin: auto;
  border: 0;
  border-bottom: 2px solid var(--border-color-gray);
  background-color: var(--bkg-clear);
}

.createPost {

}
