<!DOCTYPE html>
<html ng-app="BCM">
  <head>
    <meta charset="utf-8">
    <title>Business Card Maker</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="MainController">
    <div class="toolbar">
      <span title>Business Card Maker</span>
    </div>
    <div class="bodycontainer">


    <div class="drawer">
      <div class="">
        <label for="first-name">First Name:</label>
        <input type="text" name="first-name" value="" ng-model="input.firstname">
      </div>
      <div class="">
        <label for="last-name">Last Name:</label>
        <input type="text" name="last-name" value="" ng-model="input.lastname">
      </div>
      <div class="">
        <label for="logo">Logo:</label>
        <input type="text" name="logo" value="" ng-model="input.logo">
      </div>
      <div class="">
        <label for="bussness_name">Bussness Name:</label>
        <input type="text" name="bussness_name" value="" ng-model="input.bussnessname">
      </div>
      <div class="">
        <label for="address">Address:</label>
        <input type="text" name="address" value="" ng-model="input.address">
      </div>
      <div class="">
        <label for="phone">Phone:</label>
        <input type="text" name="phone" value="" ng-model="input.phone">
      </div>
      <div class="">
        <label for="email">Email:</label>
        <input type="text" name="email" value="" ng-model="input.email">
      </div>
      <div class="">
        <label for="color">Text color:</label>
        <input type="text" name="color" value="" ng-model="input.color">
      </div>
      <div class="">
        <label for="bkg">Card background-color:</label>
        <input type="text" name="bkg" value="" ng-model="input.bkg">
      </div>
      <button type="button" name="button" ng-click="saveClicked()">Save</button>
    </div>

    <div class="cardcontainer">
      <div style="background-color: {{each.bkg}}; color: {{each.color}}" class="card" ng-model="CardController" ng-repeat="each in outputArray track by $index">
        <div id="fname">{{each.firstname}}</div>
        <div id="lname">{{each.lastname}}</div>
        <div id="logo">
          <img src="http://brandonladuke.com/images/logo.svg" alt="Logo" />
        </div>
        <div id="bussnessname">{{each.bussnessname}}</div>
        <div id="address">{{each.address}}</div>
        <div id="phone">{{each.phone}}</div>
        <div id="email">{{each.email}}</div>
      </div>
    
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="main.controller.js" charset="utf-8"></script>
  </body>
</html>
