<div class="posts contain">
  <div class="post">
    <div class="post-top">
      <div class="profile">
        <img src="http://brandonladuke.com/images/Me.jpg" alt="">
      </div>
      <span class="name">
        Brandon LaDuke
      </span>
      <div class="overflow">
        :
      </div>
    </div>
    <div class="post-inner">
      <!-- Post content goes here -->
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="post-bottom">
      <div class="like">
        Like
      </div>
      <div class="comment">
        Comment
      </div>
      <div class="share">
        Share
      </div>
    </div>
  </div>
</div>
