<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Session 5.1</title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="FirstController as vm">
    <!-- <input id="user" ng-model="user" type="text" name="" value="">
    <button id="btn" ng-model="btn" type="button" name="button" onclick="
    show()">Show Alert</button> -->
    <div>
      <input ng-model="input" type="text" name="" value="">
      <button ng-click="show()" type="button" name="button">Show</button>
    </div>


  </body>
</html>
